<%= link_to "Home", root_path %>

<h1>My Events</h1>

<% @user.created_events.each do |created_event| %>
    <ul>
        <li><%= link_to "#{created_event.name}",  created_event %></li>
    </ul>
<% end %>